.heading{

    text-align: center;
    text-decoration: underline;
    background-color: tomato;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid grey;
    margin: 20px;
    
    
    
  
}
body{
    background-color: rgb(219, 208, 166);
    text-align: center;

}
section{
    display:inline-block;
  
    
}
.footer{
    text-align: center;
    background-color: tomato;
    color: white;
    padding-top: 2px;
    padding-bottom:2px;
    border: solid grey;
}

h4{
  
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;


}

.box{
    margin: 1px;
    background-color: aliceblue;
}

.box-1{
    margin: 1px;
    background-color: aliceblue;
}
img{
    padding: 20px;
    padding-top: 10px;

}


